body{
    margin:0;
}

#clock-container {
    padding: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: white;
    font-size: 3rem;
    font-family: monospace;
}
