#container{
    max-width:500px;
    background-color: black;
    overflow: hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size: 2em;
    text-align: left;
    background-color:  black;
    color:white;
}
#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}

button{
    width:50px;
    height:50px;
    border-radius: 50px;
    border:none;
    background-color: rgb(152, 147, 147);
    color:white;
    font-size: 2em;
    font-weight: 900 ;
    cursor: pointer;
}