body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
button{
    font-size: 3rem;
    padding: 4px;
    margin: 5px;
    border-radius: 12px;
}
p{
    font-size: 3rem;
    margin:5px;
}