body{
    margin:0;
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height:100vh;
}
.container{
    margin:12px;
    border:2px solid black;
   width:200px;
   height:100px;
   text-align: center;
   padding:20px;
   font-size: 3em;
   border-radius: 20px;
}
button{
    width:50px;
    border-radius: 5px;
}
#start{
    background-color: green;
    color: white;
}
#Stop{
    background-color: red;
    color: white;
}
#Reset{
    background-color: blue;
    color: white;
}
